<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Please login</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>Login</h1>
</header>
<form name="f" th:action="@{/login}" method="post">
    <fieldset>
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Login</button>
    </fieldset>
</form>
</body>
</html>


